@import "tailwindcss";

@theme {
  --color-foreground: oklch(0.25 0 0);
  --color-background: oklch(0.97 0 0);
  --color-primary: oklch(0.5 0.175 240);
  --color-secondary: oklch(0.5 0.175 120);
}

@theme dark {
  --color-foreground: oklch(0.95 0 0);
  --color-background: oklch(0.25 0 0);
  --color-primary: oklch(0.85 0.15 270);
  --color-secondary: oklch(0.85 0.175 60);
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  p {
    @apply max-w-[90ch] lg:text-lg;
  }
}

@layer utilities {
  .section-padding {
    @apply px-4 py-8 md:px-8 md:py-16;
  }
}
